<mat-toolbar color="primary" class="mat-elevation-z8">
    <span><mat-icon>how_to_reg</mat-icon>Hospital Grupo 4</span>
    <div class="spacer"></div>
    <a mat-button routerLink="/consultas">Consultas</a>
    <a mat-button routerLink="/paciente">Pacientes</a>
    <a mat-button routerLink="/examenes">Exámenes</a>
    <a mat-button routerLink="/medico">Medicos</a>
    <a mat-button routerLink="/especialidades">Especialidades</a>
    <a mat-raised-button color="accent" routerLink="/login">Iniciar Sesión</a>
</mat-toolbar>