<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://upload-icon.s3.us-east-2.amazonaws.com/uploads/icons/png/3296227871579003655-512.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="loginform">
        <input type="text" formControlName="user" id="user" class="fadeIn second" name="user" placeholder="Usuario">
        <input type="text" formControlName="password" id="password" class="fadeIn third" name="user" placeholder="Contrasena">
        <input (click)="login()" type="button" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>
