<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="display-4">Nueva especialidad</h2>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstName">Nombre</label>
                        <input type="text" [(ngModel)]="nuevaEspecialidad.nombre" class="form-control" name = "nombre" id="firstName">
                    </div>      
                </div>
                <button (click)="registrarEspecialidad()" type="submit" class="btn btn-primary">Guardar</button>
              </form>
        </div>
    </div>
</div>
