<h3>Pacientes</h3>

<table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">DNI</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paciente of pacientes">
        <th scope="row">{{paciente.idPaciente}}</th>
        <td>{{paciente.nombres}}</td>
        <td>{{paciente.apellidos}}</td>
        <td>{{paciente.dni}}</td>
        <td><a class="btn btn-info" (click)="editarPaciente(paciente.idPaciente)">Editar</a></td>
      </tr>

    </tbody>
  </table>
